//변수처리

//site width
$siteWidth: 1320px;

//text size
$fontSizeSmall: 12px;
$fontSizeSmallNormal: 14px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

//title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;

//color

//backgorund color
$layoutBg: #fff3c4;

//font color
$fontColorBasic: #ff604a;
$fontColorPrimary: #ff604a;
$fontColorHover: #069c8b;

//border color
$borderColorPrimary: #fad138;
$borderColorDark: #069c8b;

//button color
$gbtnColor: #069c8b;
$gbtnColorHover: #e3a936;

//table $gbtnColor
$tableColorPrimary: #b8944d;

//input outline Color
$inputSearchColor: #fbedb8;
$inputSubmitColor: #089484;
